<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Contact US</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="/home">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Contact US</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Contact Area -->
<section class="htc__contact__area ptb--120 bg__white" style="width:70% important!">
  <div class="container">
    <div class="row">
      <div class=" ">
        <div class="htc__contact__container">
          <div class="htc__contact__address">
            <h2 class="contact__title">contact info</h2>
            <div class="contact__address__inner">
              <!-- Start Single Adress -->
              <div class="single__contact__address">
                <div class="contact__icon">
                  <span class="ti-location-pin"></span>
                </div>
                <div class="contact__details">
                  <p>Location : <br> 77, seventh avenue, Brat road USA.</p>
                </div>
              </div>
              <!-- End Single Adress -->
            </div>
            <div class="contact__address__inner">
              <!-- Start Single Adress -->
              <div class="single__contact__address">
                <div class="contact__icon">
                  <span class="ti-mobile"></span>
                </div>
                <div class="contact__details">
                  <p> Phone : <br><a href="#">{{Administrator.tel}}</a></p>
                </div>
              </div>
              <!-- End Single Adress -->
              <!-- Start Single Adress -->
              <div class="single__contact__address">
                <div class="contact__icon">
                  <span class="ti-email"></span>
                </div>
                <div class="contact__details">
                  <p> Mail :<br><a href="#">{{Administrator.email}}</a></p>
                </div>
              </div>
              <!-- End Single Adress -->
            </div>
          </div>
          <div class="contact-form-wrap">
            <div class="contact-title">
              <h2 class="contact__title">Get In Touch</h2>
            </div>
            <form (ngSubmit)="onSubmit()" #productFormAdd="ngForm">
              <div class="modal-body">
                <div class="single-contact-form form-group" >
                  <div class="contact-box name">
                    <input type="text" [(ngModel)]="Complaint.name"
                      class="form-control form-input-size"
                      style=" height:25%; font-size:25px;"
                      id="nameAdd"
                      name="nameAdd"
                      placeholder="Enter product name"
                      required #nameAdd="ngModel">
                    <input type="text" [(ngModel)]="Complaint.email"
                      class="form-control form-input-size"
                      style=" height:25%; font-size:25px;"
                      id="emailAdd"
                      name="emailAdd"
                      placeholder="Enter product email"
                      required #emailAdd="ngModel">
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box subject">
                    <input type="text" [(ngModel)]="Complaint.objet"
                           class="form-control form-input-size"
                           style=" height:25%; font-size:25px;"
                           id="objetAdd"
                           name="objetAdd"
                           placeholder="Enter product objet"
                           required #objetAdd="ngModel">
                  </div>
                </div>
                <div class="single-contact-form">
                  <div class="contact-box message">
                    <textarea type="text" [(ngModel)]="Complaint.message"
                      class="form-control"
                      rows="5" cols="30"
                      style="font-size:25px;"
                      id="messageAdd"
                      name="messageAdd"
                      placeholder="Enter a message"
                      required #messageAdd="ngModel">{{Complaint.message}}</textarea>
                  </div>
                </div>
                <div class="contact-btn">
                  <button type="submit" class="SendButton btn btn-lg">SEND</button>
                </div>
              </div>
            </form>
          </div>
          <div class="form-output">
            <p class="form-messege"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Area -->
