<header id="header" class="htc-header header--3 bg__white">
  <!-- Start Mainmenu Area -->
  <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
          <div class="logo">
            <a href="/home">
              <img src="assets/images/logo/logo.png" alt="logo">
            </a>
          </div>
        </div>
        <!-- Start MAinmenu Ares -->
        <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
          <nav class="mainmenu__nav hidden-xs hidden-sm">
            <ul class="main__menu">
              <li class="drop main__menu__color"><a routerLink="/home">Accueil</a></li>
              <li class="drop main__menu__color"><a routerLink="/specialities" >Catégorie</a>
<!--                <ul class="dropdown">-->
<!--                  <li><a href="portfolio-card-box-2.html">portfolio</a></li>-->
<!--                  <li><a href="single-portfolio.html">Single portfolio</a></li>-->
<!--                </ul>-->
              </li>
              <li class="drop main__menu__color"><a href="/blog">Blog</a>
<!--                <ul class="dropdown">-->
<!--                  <li><a href="/blog">blog 3 column</a></li>-->
<!--                  <li><a href="blog-details.html">Blog details</a></li>-->
<!--                </ul>-->
              </li>
<!--                <li class="drop main__menu__color"><a href="shop.html">Shop</a>-->
<!--                    <ul class="dropdown mega_dropdown">-->
<!--                        &lt;!&ndash; Start Single Mega MEnu &ndash;&gt;-->
<!--                        <li><a class="mega__title" href="shop.html">shop layout</a>-->
<!--                            <ul class="mega__item">-->
<!--                                <li><a href="shop.html">default shop</a></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        &lt;!&ndash; End Single Mega MEnu &ndash;&gt;-->
<!--                        &lt;!&ndash; Start Single Mega MEnu &ndash;&gt;-->
<!--                        <li><a class="mega__title" href="shop.html">product details layout</a>-->
<!--                            <ul class="mega__item">-->
<!--                                <li><a href="product-details.html">tab style 1</a></li></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        &lt;!&ndash; End Single Mega MEnu &ndash;&gt;-->
<!--                        &lt;!&ndash; Start Single Mega MEnu &ndash;&gt;-->
<!--                        <li>-->
<!--                            <ul class="mega__item">-->
<!--                                <li>-->
<!--                                    <div class="mega-item-img">-->
<!--                                        <a href="shop.html">-->
<!--                                            <img src="images/feature-img/3.png" alt="">-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        &lt;!&ndash; End Single Mega MEnu &ndash;&gt;-->
<!--                    </ul>-->
<!--                </li>-->
              <li class="drop main__menu__color"><a href="/about">À propos de nous</a></li>

              <li class="drop main__menu__color"><a href="customer-review.html">Avis client</a></li>

              <li class="drop main__menu__color"><a href="/contact">contact</a></li>
            </ul>
          </nav>

          <div class="mobile-menu clearfix visible-xs visible-sm" id="mobile">
            <nav id="mobile_dropdown">

              <div class="dropdown">
                <a class="dropbtn" (click)="displayMenu()">
                  <i class="fa fa-bars"><span style="margin-left: 15px">Menu</span></i>
                </a>
                <div class="dropdown-content" id="dropdown-content">
                  <a href="/home" >Home</a>
                  <a  routerLink="/specialities" >Catégorie</a>
                  <a  href="/blog">Blog</a>
                  <a href="/about">À propos de nous</a>
                  <a  href="customer-review.html">Avis client</a>
                  <a href="/contact">contact</a>
                </div>
              </div>

              <!--              <ul>-->
<!--                <li><a href="/home">Accueil</a></li>-->
<!--                <li><a href="#">Catégorie</a>-->
<!--&lt;!&ndash;                  <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="portfolio-card-box-2.html">portfolio</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="single-portfolio.html">Single portfolio</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  </ul>&ndash;&gt;-->
<!--                </li>-->
<!--&lt;!&ndash;                <li><a href="/blog">blog</a>&ndash;&gt;-->
<!--&lt;!&ndash;                  <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="/blog">blog 3 column</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li><a href="blog-details.html">Blog details</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                  </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--                <li><a href="/about">À propos de nous</a></li>-->
<!--                <li><a href="customer-review.html">Avis client</a></li>-->
<!--                <li><a href="/contact">contact</a></li>-->
<!--              </ul>-->
            </nav>
          </div>
        </div>
        <!-- End MAinmenu Ares -->
        <div class="col-md-2 col-sm-4 col-xs-3">
          <ul class="menu-extra">
            <li class="search search__open hidden-xs" (click)="openResearchModal()"><span class="ti-search"></span></li>
            <li><a href="/login"><span class="ti-user"></span></a></li>
            <li><a title="Voir la wishlist" routerLink="/wishlist" [state]="{ operation: 'list'}"><span class="ti-heart"></span></a></li>
<!--            <li class="cart__menu"><span class="ti-heart"></span></li>-->
            <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
          </ul>
        </div>
      </div>

      <div class="mobile-menu-area"></div>
    </div>
  </div>
  <!-- End Mainmenu Area -->
</header>
