<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Specialities Page</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="/home">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Specialities</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--30 bg__white" style="width: 100% ">
  <div class="container">
    <div class="htc__product__container">
      <!-- Start Product MEnu -->
      <div class="row">
        <div class="col-md-12">
          <div class="filter__menu__container">
            <div class="product__menu">
              <button (click)="customSort(2)" class="is-checked">All</button>
              <button (click)="customSort(1)">Alphabetic</button>
              <button (click)="customSort(3)">Prix</button>
              <button (click)="customSort(2)">Recent</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product MEnu -->
      <div class="row">
        <div   style=" width:100% !important">
          <!-- Start Single Product -->
          <div *ngFor="let speciality of collection.specialities  | paginate: config " >
            <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12">
              <div class="product foo">
                <div class="product__inner">
                  <div class="pro__thumb">
                    <a href="#">
                      <img class="img-fluid img" style=" width:250px !important; height:250px !important;" [src]="sane(speciality.image)" alt="{{speciality.name}}">
                    </a>
                  </div>
                  <div class="product__hover__info">
                    <ul class="product__action">
                      <li><a title="Voir les produits de cette specialité" (click)="gotoListProductsOfSpeciality(speciality.id)"><span class="ti-eye"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="product__details">
                  <h2><a title="Voir les produits de cette specialité" (click)="gotoListProductsOfSpeciality(speciality.id)" >{{speciality.name}}</a></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div  class="align-items-center">
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
      </div>
    </div>
  </div>
</section>
