<!--<form >-->
<!--  <input type="file" name="files" (change)="onFileChanged($event)" multiple> <br/><br/>-->
<!--  <button type="button" (click)="onUpload()">Submit</button>-->
<!--  &lt;!&ndash;  <button type="button" (click)="save()">Submit</button>&ndash;&gt;-->
<!--</form>-->


<!-- End Offset Wrapper -->
<!-- Start Bradcaump area -->

<!--<div>-->
<!--  <div class="container custom-container text-uppercase text-xl-left text-large">-->
<!--    <div class="col-md-auto">-->

<!--      <form (ngSubmit)="onSubmit()" #productFormAdd="ngForm">-->
<!--        <div class="modal-body">-->
<!--          <div class="form-group">-->
<!--            <label for="nameAdd">Name</label>-->
<!--            <input type="text" [(ngModel)]="product.name"-->
<!--                   class="form-control"-->
<!--                   id="nameAdd"-->
<!--                   name="nameAdd"-->
<!--                   placeholder="Enter product name"-->
<!--                   required #nameAdd="ngModel">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="referenceAdd">Reference</label>-->
<!--            <input type="text" [(ngModel)]="product.reference"-->
<!--                   class="form-control"-->
<!--                   id="referenceAdd"-->
<!--                   name="referenceAdd"-->
<!--                   placeholder="Enter your reference"-->
<!--                   required #referenceAdd="ngModel">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="marqueAdd">Marque</label>-->
<!--            <input type="text" [(ngModel)]="product.marque"-->
<!--                   class="form-control"-->
<!--                   id="marqueAdd"-->
<!--                   name="marqueAdd"-->
<!--                   placeholder="Enter your marque"-->
<!--                   required #marqueAdd="ngModel">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="descriptionAdd">Description</label>-->
<!--            <textarea type="text" [(ngModel)]="product.description"-->
<!--                      class="form-control"-->
<!--                      id="descriptionAdd"-->
<!--                      name="descriptionAdd"-->
<!--                      placeholder="Enter a description"-->
<!--                      required #descriptionAdd="ngModel">{{product.description}}</textarea>-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="imageAdd">Images</label>-->
<!--            <input type="file" [(ngModel)]="product.images"-->
<!--                   class="form-control"-->
<!--                   id="imageAdd"-->
<!--                   name="imageAdd"-->
<!--                   placeholder="Choose your image "-->
<!--                   required #imageAdd="ngModel"-->
<!--                   accept="image/*"-->
<!--                   (change)="onFileChanged($event)" multiple>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group modal-footer">-->
<!--          <button type="submit" class="btn btn-success btn-lg "  [disabled]="!productFormAdd.form.valid" >Create Product</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Specialities Page</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="/home">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Specialities</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Our Product Area -->
<section class="htc__product__area shop__page ptb--30 bg__white">
  <div class="container">
    <div class="htc__product__container">
      <!-- Start Product MEnu -->
      <div class="row">
        <div class="col-md-12">
          <div class="filter__menu__container">
            <div class="product__menu">
              <button (click)="customSort(2)" class="is-checked">All</button>
              <button (click)="customSort(1)">Alphabetic</button>
              <button (click)="customSort(3)">Prix</button>
              <button (click)="customSort(2)">Recent</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Product MEnu -->
      <div class="row">
        <div class="product__list another-product-style">
          <!-- Start Single Product -->
          <div class="col-xl-4" *ngFor="let speciality of collection.specialities " >
            <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
              <div class="product foo">
                <div class="product__inner">
                  <div class="pro__thumb">
                    <a href="#">
                      <img class="img-fluid img" width="250px" height="200px" [src]="sane(speciality.image)" alt="{{speciality.name}}">
                    </a>
                  </div>
                  <div class="product__hover__info">
                    <ul class="product__action">
<!--                      <li><a title="Voir les produits de cette specialité" routerLink="/produits" [state]="{ 'SpecialityId': speciality.id }"><span class="ti-eye"></span></a></li>-->
                      <li><a title="Voir les produits de cette specialité" (click)="gotoListProductsOfSpeciality(speciality.id)"><span class="ti-eye"></span></a></li>
                    </ul>
                  </div>
                </div>
                <div class="product__details">
<!--                  <h2><a title="Voir les produits de cette specialité" routerLink="/produits" [state]="{ 'SpecialityId': speciality.id }" >{{speciality.name}}</a></h2>-->
                  <h2><a title="Voir les produits de cette specialité" (click)="gotoListProductsOfSpeciality(speciality.id)" >{{speciality.name}}</a></h2>
                  <ul class="product__price">
                    <li class="new__price">{{speciality.price}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
