

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <app-provider-menu-bar></app-provider-menu-bar>
  <!-- End of Sidebar -->
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <app-provider-header></app-provider-header>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Profile </h6>
          </div>
          <div [hidden]="updateFlag" class="card-body">
            <form >
              <div class="modal-body">
                <div class="single-contact-form " >
                  <div class="contact-box name">
                    <label class="form-control-custom  form-input-size norme" >
                      Nom : {{provider.lastname}}
                    </label>
                    <label class="form-control-custom  form-input-size norme"  >
                      Prenom : {{provider.firstname}}
                    </label>
                  </div>
                </div>
                <div class="single-contact-form " >
                  <div class="contact-box name">
                    <label class="form-control-custom  form-input-size norme"  >
                      Tel : {{provider.tel}}
                    </label>
                    <label class="form-control-custom  form-input-size norme"  >
                      Email : {{provider.email}}
                    </label>
                  </div>
                </div>
                <div  *ngIf="!provider.type" class="single-contact-form " >
                  <div class="contact-box name">
                    <label class="form-control-custom  form-input-size norme"  >
                      Date d'abonnement : {{provider.date}}
                    </label>
                    <label class="form-control-custom  form-input-size norme"  >
                      Type : Particulier
                    </label>
                  </div>
                </div>
                <div  *ngIf="provider.type" class="single-contact-form " >
                  <div class="contact-box name">
                    <label class="form-control-custom  form-input-size norme"  >
                      Date d'abonnement : {{getDate(provider.date)}} à {{getHour(provider.date)}}
                    </label>
                    <label class="form-control-custom  form-input-size norme"  >
                      Represantant de {{provider.society.name}}
                    </label>
                  </div>
                </div>
                <div  *ngIf="provider.type" class="single-contact-form " >
                  <div class="contact-box name">
                    <label class="form-control-custom  form-input-size norme"  >
                      Email Societé : {{provider.society.email}}
                    </label>
                    <label class="form-control-custom  form-input-size norme"  >
                      Tel Societé : {{provider.society.tel}}
                    </label>
                  </div>
                </div>
                <div *ngIf="provider.type == true" class="single-contact-form">
                  <div class="contact-box name">
                    <label class="form-control-custom  form-input-size norme"  >
                      {{collection.ownedSpecialities.length}}  specialités  : </label>
                    <select class="form-control-custom  form-input-size norme"   >
                      <option *ngFor="let speciality of collection.ownedSpecialities">{{speciality.name}}</option>
                    </select>
                  </div>
                </div>
                <hr>
                <label class="form-control-custom  form-input-size norme">Prix Total : {{SpecialitiesSelectedPrice}}</label>
                <hr>
                <div class="contact-btn">
                  <button type="button" class="SendButton btn btn-lg btn-primary" (click)="changeUpdateFlag(true)" style="float: left"><span class="glyphicon glyphicon-edit"></span></button>
                  <button type="button" class="SendButton btn btn-lg btn-secondary" style="float: right"><a roulerLink="/provider/home">Retour</a></button>
                </div>
              </div>
            </form>
          </div>
          <div [hidden]="!updateFlag" class="card-body">
            <form >
              <div class="modal-body">
                <div class="single-contact-form " >
                  <div class=" contact-box name ">
                      <label class=" form-control-custom   norme " style="width: 30%">Nom : </label>
                      <input type="text" [(ngModel)]="provider.lastname"
                             class="form-control-custom  form-input-size "
                             id="lastname" style="width: 70%"
                             name="lastname" required
                             #lastname="ngModel">
                      <label class="  form-control-custom   norme" style="width: 30%">Prenom :</label>
                      <input type="text" [(ngModel)]="provider.firstname"
                             class="form-control-custom  form-input-size "
                             id="firstname" style="width: 70%"
                             name="firstname" required
                             #firstname="ngModel">
                  </div>
                </div>
                <div class="single-contact-form " >
                  <div class=" contact-box name ">
                    <label class=" form-control-custom   norme " style="width: 30%">Email : </label>
                    <input type="email" [(ngModel)]="provider.email"
                           class="form-control-custom  form-input-size "
                           id="email" style="width: 70%"
                           name="email" required
                           #email="ngModel">
                    <label class="  form-control-custom   norme" style="width: 30%">Tel :</label>
                    <input type="text" [(ngModel)]="provider.tel"
                           class="form-control-custom  form-input-size "
                           id="tel" style="width: 70%"
                           name="tel" required
                           #tel="ngModel">
                  </div>
                </div>
                <div class="single-contact-form " >
                  <div class=" contact-box name ">
                      <label class=" form-control-custom   norme " style="width: 30%">Nom Societé : </label>
                      <input type="text" [(ngModel)]="societyData.name"
                             class="form-control-custom  form-input-size "
                             id="societyname" style="width: 70%; float: left"
                             name="societyname" required
                             #societyname="ngModel">
                    <label class=" form-control-custom   norme " style="width: 30%">Email Societé : </label>
                    <input type="email" [(ngModel)]="societyData.email"
                           class="form-control-custom  form-input-size "
                           id="societyemail" style="width: 70%"
                           name="societyemail" required
                           #societyemail="ngModel">
                  </div>
                </div>
                <div class="single-contact-form " >
                  <div class=" contact-box name ">
                      <label class="  form-control-custom   norme" style="width: 15%">Tel Societé :</label>
                      <input type="text" [(ngModel)]="societyData.tel"
                             class="form-control-custom  form-input-size "
                             id="societytel" style="width: 85%"
                             name="societytel" required
                             #societytel="ngModel">
                  </div>
                </div>
                <fieldset>
                  <legend class="form-control-custom  form-input-size norme">Ajouter des specialités : </legend>
                  <div class="flex-container">
                    <label class="form-control-custom  form-input-size norme" *ngFor="let speciality of collection.specialities " style="font-size: 20px" >
                      <input type="checkbox" [checked]="specialityExists(speciality.id)" id="specialitiesSelected" name="specialities" #SpecialityElement
                             value="{{speciality.id}}" (change)="SpecialityChecked(SpecialityElement.checked,speciality)">
                      <span class="checkmark"></span>
                      {{speciality.name}}
                    </label>
                  </div>
                </fieldset>
                <label class="form-control-custom  form-input-size norme">Prix Total : {{SpecialitiesSelectedPrice}}</label>
                <hr>
                <div class="contact-btn">
                  <button type="button" class="SendButton btn btn-lg btn-success" (click)="updateProfile()" style="float: left">Valider</button>
                  <button type="button" class="SendButton btn btn-lg btn-secondary" (click)="changeUpdateFlag(false)" style="float: right">Annuler</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
