
<app-header ></app-header>
<app-cartdevis></app-cartdevis>

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Product Details</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="/home">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Product Details</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Product Details -->
<section class="htc__product__details pt--120 pb--100 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="product__details__container">
          <div class="product__big__images">
            <div class="portfolio-full-image tab-content">
              <div role="tabpanel" class="" id="img-tab-1" >
                <mdb-carousel class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
                  <mdb-carousel-item  *ngFor="let image of product.images">
                    <img class="d-block w-100 img_slide_product" [src]="sane(image.path)" alt="{{product.name}}">
                  </mdb-carousel-item>
                </mdb-carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
        <div class="htc__product__details__inner">
          <div class="pro__detl__title mb--20  ">
            <h2>{{product.name}}</h2>
          </div>
          <div class="pro__detl__title mb--20">
            <p>Reference: {{product.reference}} </p>
          </div>
          <div class="pro__detl__title mb--20">
            <p>Marque:{{product.marque}} </p>
          </div>
          <div class="pro__detl__title mb--20  ">
            <ul><li>Catalogue: <a href="product.catalogue" download="{{getCatalogueName(product)}}">{{getCatalogueName(product)}}</a></li></ul>
          </div>
          <div class="pro__detl__title mb--20">
            <h3>Description: </h3>
            <p>{{product.description}} </p>
          </div>
          <div  class=" mb--30 mt--40">
            <div class="prodict-statas"><span>Fournisseur :</span></div><br>
            <hr>
            <div [hidden]="medecinFlag">
              <label >Connecté vous pour voir les details </label><br>
              <button class="btn btn-lg quotationButton" (click)="openLoginModal()">Se Connecter</button>
            </div>
            <div [hidden]="!medecinFlag" class="">
              <p>Nom & Prenom : {{product.provider.firstname}} {{product.provider.lastname}}</p><br>
              <p>Email : {{product.provider.email}}</p><br>
              <p>Tel : {{product.provider.tel}}</p>
            </div>
          </div>
          <ul  class="pro__dtl__btn">
            <li [hidden] = "!medecinFlag"><button class="btn quotationButton" (click)="openRequestQuotationMedecinModal()">Devis</button></li>
            <li [hidden] = "medecinFlag" ><button class="btn quotationButton" (click)="openRequestQuotationModal()">Devis</button></li>
            <li [hidden] = "wishlistFlag" ><button class="btn quotationButton" title="Ajouter à la wishlist"  (click)="setWishlistOperation('add',product.id)" ><span class="glyphicon glyphicon-heart-empty"></span></button></li>
            <li [hidden] = "!wishlistFlag" ><button class="btn btn-info" title="Retirer de la wishlist"  (click)="setWishlistOperation('delete',product.id)" ><span class="glyphicon glyphicon-heart"></span></button></li>
            <li [hidden] = "medecinFlag" ><button class="btn quotationButton" title="Signaler"  (click)="openSendComplaintModal()" ><span class="glyphicon glyphicon-flag"></span> </button></li>
            <li [hidden] = "!medecinFlag" ><button class="btn quotationButton " title="Signaler"  (click)="openSendComplaintModalLogged()" ><span class="glyphicon glyphicon-flag"></span></button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product Details -->
<!-- Start Product tab -->
<section class="htc__product__details__tab bg__white pb--120">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <ul class="product__deatils__tab mb--60" role="tablist">
          <li role="presentation" class="active">
            <a href="#description" role="tab" data-toggle="tab">Produits Similaire</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product__details__tab__content ">
          <button mdbBtn color="info" (click)="carouselProductSlide.previousSlide()">Precedent</button>
          <button mdbBtn color="info" (click)="carouselProductSlide.nextSlide()">Suivant</button>
          <hr>
          <mdb-carousel [isControls]="false" #carouselProductSlide class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
            <mdb-carousel-item *ngFor="let item of slides; let i = index">
              <div class="col-md-4 pb-2" *ngFor="let card of item; let cardIndex = index">
                <mdb-card class="my-1 h-100">
                  <mdb-card-img [src]="sane(card.images[0].path)" class="img_slide_similar_product"  alt="card.name"></mdb-card-img>
                  <mdb-card-body>
                    <mdb-card-title>
                      <h4>{{card.name}}</h4>
                    </mdb-card-title>
                    <p>{{card.marque}}</p>
                  </mdb-card-body>
                  <mdb-card-footer>
                    <a (click)="gotoProductDetails('/produit/detail/',product.id)" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Voir</a>
                  </mdb-card-footer>
                </mdb-card>
              </div>
            </mdb-carousel-item>
          </mdb-carousel>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product tab -->
<!-- Start Footer Area -->

<app-footer></app-footer>
