<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(assets/images/bg/2.jpg) no-repeat scroll center center / cover ;">
  <div class="ht__bradcaump__wrap">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="bradcaump__inner text-center">
            <h2 class="bradcaump-title">Product Details</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" href="/home">Home</a>
              <span class="brd-separetor">/</span>
              <span class="breadcrumb-item active">Product Details</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Product Details -->
<section class="htc__product__details pt--120 pb--100 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
        <div class="product__details__container">
          <div class="product__big__images">
            <div class="portfolio-full-image tab-content">
              <div role="tabpanel" class="tab-pane fade in active product-video-position" id="img-tab-1" >

                <!-- Start Slider Area -->
                <div class="slider__container">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators"  >
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li *ngFor="let image of product.images, index as i"data-target="#myCarousel" data-slide-to="i"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active" >
                        <img [src]="sane(product.images[0].path)" style=" width: 500px  !important; height: 500px  !important;" alt="{{product.name}}">
                      </div>

                      <div class="item"  *ngFor="let image of product.images, index as i" >
                        <img [src]="sane(image.path)" style=" width: 500px  !important; height: 500px  !important; " alt="{{product.name}}">
                        <div class="carousel-caption">
                          <h3>{{product.name}}</h3>
                        </div>
                      </div>

                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
        <div class="htc__product__details__inner">
          <div class="pro__detl__title mb--100  ">
            <h2>{{product.name}}</h2>
          </div>
          <div class="pro__details mb--20">
            <p>{{product.description}} </p>
          </div>
          <div  class=" mb--30 mt--40">
            <div class="prodict-statas"><span>Fournisseur :</span></div><br>
            <hr>
            <div [hidden]="medecinFlag">
              <label >Connecté vous pour voir les details </label><br>
              <button class="btn btn-lg quotationButton" (click)="openLoginModal()">Se Connecter</button>
            </div>
            <div [hidden]="!medecinFlag" class="">
              <p>Nom & Prenom : {{product.provider.firstname}} {{product.provider.lastname}}</p><br>
              <p>Email : {{product.provider.email}}</p><br>
              <p>Tel : {{product.provider.tel}}</p>
            </div>
          </div>
          <ul  class="pro__dtl__btn">
            <li [hidden] = "!medecinFlag"><button class="btn quotationButton" (click)="openRequestQuotationMedecinModal()">Devis</button></li>
            <li [hidden] = "medecinFlag" ><button class="btn quotationButton" (click)="openRequestQuotationModal()">Devis</button></li>
            <li [hidden] = "wishlistFlag" ><button class="btn quotationButton" title="Ajouter à la wishlist"  (click)="setWishlistOperation('add',product.id)" ><span class="ti-heart"></span></button></li>
            <li [hidden] = "!wishlistFlag" ><button class="btn btn-info" title="Retirer de la wishlist"  (click)="setWishlistOperation('delete',product.id)" ><span class="ti-heart"></span></button></li>
            <li [hidden] = "medecinFlag" ><button class="btn quotationButton" title="Signaler"  (click)="openSendComplaintModal()" ><span class="glyphicon glyphicon-flag"></span> </button></li>
            <li [hidden] = "!medecinFlag" ><button class="btn quotationButton" title="Signaler"  (click)="openSendComplaintModalLogged()" ><span class="glyphicon glyphicon-flag"></span></button></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product Details -->
<!-- Start Product tab -->
<section class="htc__product__details__tab bg__white pb--120">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <ul class="product__deatils__tab mb--60" role="tablist">
          <li role="presentation" class="active">
            <a href="#description" role="tab" data-toggle="tab">Description</a>
          </li>
          <li role="presentation">
            <a href="#sheet" role="tab" data-toggle="tab">Data sheet</a>
          </li>
          <li role="presentation">
            <a href="#reviews" role="tab" data-toggle="tab">Reviews</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="product__details__tab__content">
          <!-- Start Single Content -->
          <div role="tabpanel" id="description" class="product__tab__content fade in active">
            <div class="product__description__wrap">
              <div class="product__desc">
                <h2 class="title__6">Details</h2>
                <p> {{product.description}}</p>
              </div>
              <div class="pro__feature">
                <h2 class="title__6">Features</h2>
                <ul class="feature__list">
                  <li><a href="#"><i class="zmdi zmdi-play-circle"></i>{{product.catalogue}}</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End Single Content -->
          <!-- Start Single Content -->
          <div role="tabpanel" id="sheet" class="product__tab__content fade">
            <div class="pro__feature">
              <h2 class="title__6">Data sheet</h2>
              <ul class="feature__list">
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Duis aute irure dolor in reprehenderit in voluptate velit esse</a></li>
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Irure dolor in reprehenderit in voluptate velit esse</a></li>
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Irure dolor in reprehenderit in voluptate velit esse</a></li>
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Sed do eiusmod tempor incididunt ut labore et </a></li>
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Sed do eiusmod tempor incididunt ut labore et </a></li>
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Nisi ut aliquip ex ea commodo consequat.</a></li>
                <li><a href="#"><i class="zmdi zmdi-play-circle"></i>Nisi ut aliquip ex ea commodo consequat.</a></li>
              </ul>
            </div>
          </div>
          <!-- End Single Content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Product tab -->
<!-- Start Footer Area -->
