<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion bar-width " id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" (click)="gotoHome()">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3 " style="font-size:20px;"> Home</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-2">

  <!-- Heading -->
  <div class="sidebar-heading" >
    Espace Administrateur
  </div>
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/medecin/home"  >
      <span>Acceuil</span>
    </a>
  </li>
  <hr class="sidebar-divider my-2">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/medecin/wishlist">
      <span>Wishlist</span>
    </a>
  </li>
  <hr class="sidebar-divider my-2">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed"  routerLink="/medecin/quotation"  >
      <span>Devis</span>
    </a>
  </li>
  <hr class="sidebar-divider my-2">
  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/medecin/complaint" >
      <span>Reclamations</span>
    </a>
  </li>
  <hr class="sidebar-divider my-2">

</ul>
